{% extends 'base.html.twig' %}

{% block main %}
    <main>
    <p>DESIGN...</p>
    </main><!-- /.container -->
{% endblock %}

{% block javascripts %}
<script>alert("DESIGN");</script>
{% endblock %}
